.explorer-tree-invisible {
  display: none;
}

.explorer-tree {
  font-family: Helvetica, sans-serif;
}

.explorer-tree ul,
.explorer-tree li {
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
}

/*
 * This padding sets alignment of the nested nodes.
 */
.explorer-tree .mat-nested-tree-node div[role=group] {
  padding-left: 30px;
}

/*
 * Padding for leaf nodes.
 * Leaf nodes need to have padding so as to align with other non-leaf nodes
 * under the same parent.
 */
.explorer-tree div[role=group] > .mat-tree-node {
  padding-left: 15px;
}

.module-label {
  margin-left: 5px;
}

.rootNode {
  cursor: pointer;
}
